[user]
	name = Ghislain Bourgeois
	email = ghislain.bourgeois@gmail.com
	signingKey = 4B81C0DD0261DB75A314030B31D3C13CB697DB2D
[push]
	default = simple
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[fetch]
	recurseSubmodules = true
[merge]
	tool = vimdiff
[mergetool]
	prompt = false
[alias]
	pm = !"git checkout master && git pull && git checkout -"
[tag]
	forceSignAnnotated = true
[commit]
	gpgSign = true
