[user]
    name = Ghislain Bourgeois
    email = ghislain.bourgeois@gmail.com
[push]
    default = simple
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[fetch]
    recurseSubmodules = true
[merge]
    tool = vimdiff
[mergetool]
    prompt = false
[alias]
    pm = !"git checkout master && git pull && git checkout -"
